/* ===== Reset ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
  background-color: #ffffff;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

/* ===== Headings ===== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/* ===== Root Layout Padding ===== */
#root {
  max-width: 1440px;
  margin: 0 auto;
}
